<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        table {
            margin: 0;
            border-spacing: 0;
            text-align: center;
        }
        td {

            border: 1px solid;
            margin: 0;
        }
    </style>
</head>
<body>

<h3>для вывода количества машин, заменить в адресной строке число после count=...<br><br>
    <a href="/cars?count=1">Показать 1 машину</a>
</h3>
<p>(больше 5-ти все равно нет)</p>

<div>
    <table>
        <tr>
            <td width="150" th:text="Производитель"></td>
            <td width="150" th:text="Модель"></td>
            <td width="150" th:text="Номер"></td>
        </tr>
    </table>
    <th:block th:each="msg : ${cars}">
        <table>
            <tr>
                <td width="150" th:text="${msg.getBrand()}"></td>
                <td width="150" th:text="${msg.getModel()}"></td>
                <td width="150" th:text="${msg.getGovNumber()}"></td>
            </tr>
        </table>
    </th:block>
</div>
</body>
</html>